<!-- clients.vtl -->
<h1>Clients List</h1>

#if ($clients)
  <ul class="list-group">
    #foreach ($client in $clients)
      <li class="list-group-item"><a href="/stylists/$client.getstylistId()/clients/$client.getId()">$client.getName()</a></li>
    #end
  </ul>
#else
  <h1>No Clients! Quick, find some!</h1>
#end

<a href="/new-client" class="btn btn-default" role="button">Add a new client</a>
<!-- clients.vtl -->
