<!-- client.vtl -->
<h2>$stylist.getName()'s client</h2>
<div class="panel panel-default">
  <div class="panel-heading"><h3>$client.getName()</h3></div>
  <div class="panel-body">$client.getDetails()</div>
</div>

<!-- hike.vtl -->
