<!--client-form.vtl-->
<p>Add a new client:</p>

<form action="/clients" method="post">
  <label for="detail">Client Detail</label>
  <input id="detail" name="detail" type="text">

  <button type="submit" class="btn btn-default">Add client</button>
</form>
<!--client-form.vtl-->
