<!--stylist.vtl-->
<h1>$stylist.getName() clients:</h1>

<ul>
  #foreach($client in $stylist.getClients())
   <li><a href="/stylists/$stylist.getId()/clients/$client.getId()">$client.getDetails()</a></li>
  #end
</ul>

<form action="/stylists/$stylist.getId()/delete" method="post">
  <button type="submit" class="btn btn-danger" id="delete-stylist">Delete Stylist</button>
</form>

<!--stylist.vtl-->
