<!--stylist-clients-success.vtl-->
<h1>Success!</h1>

<h3>Your client has been saved to $stylist.getName()'s client list.</h3>

<a href="/stylists">View stylists</a>
<!--stylist-clients-success.vtl-->
