<!--stylist-form.vtl-->
<h1>Add a stylist</h1>

<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="name">Stylist name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
<!--stylist-form.vtl-->
