<!-- success.vtl -->
<div class="alert alert-success lead">Your client/stylist relationship has been added successfully to the list.</div>
<div class="btn-group"><a href="/clients" class="btn btn-default" role="button">View all clients</a>
<a href="/new-client" class="btn btn-default" role="button">Add a new client</a></div>
<!-- success.vtl -->
